/* css styles */

h5 {
  margin-top: 26px;
}

.listp p {
  margin-bottom: 0px;
}

.nav-link:hover,
.nav-link.active,
.navbar-brand:hover {
  color: light-dark(#18bc9c, #00bc8c) !important;
}

/* Code for modifying link underlining
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav a {
  text-decoration: none !important;
}
*/

/* Code for animated underline of navbar links on hover 
.nav-link {
  position: relative;
}

.nav-link::after {
  content: '';
  display: block;
  transition: all ease-in-out 0.2s;
  height: 2px;
  width: 0%;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 50%;
}

.nav-link:hover::after {
  width: 100%;
  left: 0%
}
*/