/*-- scss:rules --*/

.research-card {
  border-left: 6px solid $light;
  border-radius: 0.25em;
  padding: 0;
  margin-top: 2.5em;
}

.research-title {
  font-size: $h5-font-size;
}

.research-content {
  padding: 0 1em;
  margin-bottom: 8px;
}

.research-links {
  background-color: $light;
  margin-left: -1px;
}

.research-link {
  padding: 0 0 0 1em;
}

.research-links-empty {
  box-sizing: content-box;
  height: 10px;
}